<?php

declare(strict_types=1);

/*
 * CuadraAiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace CuadraAiLib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;
use CuadraAiLib\Exceptions\ErrorResponseException;
use CuadraAiLib\Http\ApiResponse;
use CuadraAiLib\Models\Chat;
use CuadraAiLib\Models\TotalUsageEx;
use CuadraAiLib\Models\UsageCalculationEx;

class UsageController extends BaseController
{
    /**
     * This endpoint allows you to calculate the usage, so you get an idea of the amount of tokens that
     * will be consumed.
     *
     * @param Chat $body
     *
     * @return ApiResponse Response from the API call
     */
    public function calculateTokens(Chat $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/usage/tokenize')
            ->auth('OAuth2')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad request, read again our documentation or contact support for guidance.',
                    ErrorResponseException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Not authorized, check our OAuth2 doc.', ErrorResponseException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal error, if this error persist, please contact support.',
                    ErrorResponseException::class
                )
            )
            ->type(UsageCalculationEx::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This endpoint calculates the amount of tokens used by the user in the given month.
     *
     * @return ApiResponse Response from the API call
     */
    public function totalUsage(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/usage/totals')->auth('OAuth2');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad request, read again our documentation or contact support for guidance.',
                    ErrorResponseException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Not authorized, check our OAuth2 doc.', ErrorResponseException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal error, if this error persist, please contact support.',
                    ErrorResponseException::class
                )
            )
            ->type(TotalUsageEx::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
